<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">



<html>

<head>
	<title>validate</title>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<meta name="GENERATOR" content="Rational Software Architect">
</head>

<body>



	<h3>Thank you <%=user.name%></h3>
	<p>Your Order</p>
	<table border="2" style="padding: 1in" cellpadding="2">
		<tbody>
			<tr>
				<td><b>Book</b></td>
				<td><b>Quantity</b></td>
				<td><b>Unit Cost</b></td>
				<td><b>Total Cost</b></td>
			</tr>

			<%for (var i=0;i<cart.books.length;i++){%>
				<tr>
					<td align="left">
						<%=cart.books[i].title%>
					</td>
					<td align="right">
						<%=cart.qty%>
					</td>
					<td align="right">
						<%=cart.books[i].price%>
					</td>
					<td align="right">
						<%=cart.books[i].totalPrice%>
					</td>
				</tr>
				<%}%>

		</tbody>
	</table>




	<p>Total cost is
		<%=cart.total%>$</p>
	<p><br>Please enter your Credit Card information:
	</p>
	<form method="post" action="confirm">
		<table border="0">

			<tbody>
				<tr>
					<td>Credit Card</td>
					<td width="92"><select name="Creditcard">
				<option>MasterCard</option>
				<option>Visa</option>
				<option>Amex</option>
			</select></td>
				</tr>
				<tr>
					<td>Card Number</td>
					<td width="92"> <input type="text" name="Cardnumber" size="16" required="required" pattern="[0-9]{12,16}"></td>
				</tr>
				<tr>
					<td>Express Delivery</td>
					<td width="92"><input type="checkbox" name="expressdelivery"></td>
				</tr>
				<tr>
					<td>email</td>
					<td width="92"><input type="email" name="email" required="required"></td>
				</tr>
			</tbody>
		</table>
		<input type="submit" name="Purchase" value="Purchase">
		<br/><a href="/logout">LOGOUT</a>
	</form>
</body>

</html>
